@charset "utf-8";
/* CSS Document */
	#container {height: 450px;overflow: hidden;}
	#container,.sections {position: relative;}
	.section {background-color: #000;background-size: cover;background-position: 50% 50%;text-align: center;color: white;height: 450px;}
	#section0 {background-image:url(../images/banner.png);}
	#section1 {background-image:url(../images/1.jpg);}
	#section2 {background-image:url(../images/2.jpg);}
	#section3 {background-image:url(../images/banner.png);}
	.pages li{list-style-type:none;width:14px;height:14px;border-radius:10px;background-color:#808080; cursor: pointer;}
	.pages li:hover{box-shadow:0 0 5px 2px white}
	.pages li.active{background-color:#ffffff;}
	.pages{position:absolute;z-index:999}
	.pages.horizontal{left:50%;transform:translateX(-50%);bottom:5px}
	.pages.horizontal{left:50%;transform:translateX(-50%);bottom:5px}
	.pages.horizontal li{display:inline-block;margin-right:10px}
	.pages.horizontal li:last-child{margin-right:0}
	.pages.vertical{right:5px;top:50%;transform:translateY(-50%)}
	.pages.vertical li{margin-bottom:10px}
	.pages.vertical li:last-child{margin-bottom:0}
